<h2>──────────────────────────────────
────────────██████████────────────
────────███████████████████───────
──────███████████████████████─────
────██████████████████████████────
───█████████████▀──────────▀███───
──█████████████──────────────███──
─████████████────────────────████─
─██████████───────────────────███─
██████████▀───────────────────████
████████▀─────────────────────████
██████▀────────────────────────███
█████──▄▀▀▀▀▀▀▀▄────▄▀▀▀▀▀▀▀▄──███
█████────▄▄▄▄▄────────▄▄▄▄▄────███
█████──▄▀───▄██▄────▄▀───▄██▄──███
█████──▀▄───▀▀█▀────▀▄───▀▀█▀──███
█▀──█────▀▀▀▀▀────────▀▀▀▀▀────███
█───█──────────────────────────█─█
█────────────────────▄───────────█
█───────────▄▀────────▀▄─────────█
▀█─▄█───────▀▄─▀██──██───────────█
─▀██────────────────────────────██
──██────▄▀▀──────█─█──────▀▀▄──██─
───█──────█▀▄────▀─▀────▄▀█────█──
───█──────▀──▀▀▄▄▄▄▄▄▄▀▀──▀────█──
───▀█─────────────────────────█▀──
────▀█───────────────────────█▀───
─────▀█─────────────────────█▀────
──────▀█───────────────────█▀─────
───────▀█─────────────────█▀──────
────────▀█───▄───────▄───█▀───────
─────────▀█▄──▀▄▄▄▄▄▀──▄█▀────────
───────────▀▀█▄▄▄▄▄▄▄█▀▀──────────
────────────────███───────────────
──────────────███████─────────────
─────────────██─███─██────────────
────────────██──███──██───────────
───────────██───███───██──────────</h2>
  <h1>This page is all about me.</h1>
  <div class="row">
  <div class="col-md-4">
  
    <%= image_tag "https://akimg1.ask.fm/assets/266/539/617/normal/file.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
<p>Hello, My name is Cortland Willey. I am sixteen, and going into the eleventh grade. I've never done coding before this. I love swimming and I am on the Coner Canyon Swim team. I love all kinds of food. I am not a picky eater, I love all foods, including Indian, Thai, and sushi. I have six siblings, four sisters and two brothers. I find myself friendly and fun. I am also very loud.
</p>
</div>