<h1>The page ofthis guys digits.</h1>
<h5>──────────────────────▒████▒────────────
───────────────────░█████▓███░──────────
─────────────────░███▒░░░░░░██──────────
────────────────▒██▒░░░▒▓▓▓▒░██─────────
───────────────▓██░░░▒▓█▒▒▒▓▒▓█─────────
──────────────▓█▓─░▒▒▓█─────▓▓█░────────
─────────────▓█▒░▒▒▒▒█──▓▓▒▒─▓█▒────────
────────────▒█▒░▒▒▒▒▓▒─▒▓▒▓▓─▒█░────────
────────────█▓░▒▒▒▒▒▓░─▓▒──░░▒█░────────
───────────██░▒▒▒▒▒▒█──▓──░▓████████────
──────────░█▒▒▒▒▒▒▒▒▓░─█▓███▓▓▓▓██─█▓───
────────▒▓█▓▒▒▒▒▒▒▒▒▓███▓▓████▓▓██──█───
──────░███▓▒▒▒▒▓▒▒▒████▒▒░░──████░──██░─
──────██▒▒▒▒▒▒▒▒▒▓██▒────────▒██▓────▓█─
─────▓█▒▒▒▒▒▒▒▒▓█▓─────▓───▒░░▓──▓────▓█
─────██▒▓▒▒▒▒▒█▓──────▒█▓──▓█░▒──▒░────█
─────██▒▒▓▓▓▒█▓▓───░──▓██──▓█▓▓▓█▓─────█
─────▓█▒██▓▓█▒▒▓█─────░█▓──▒░───░█▓────█
─────░██▓───▓▓▒▒▓▓─────░─────────▒▒─░─░█
──────▓█──▒░─█▒▓█▓──▒───────░─░───█▒──█▒
───────█──░█░░█▓▒──▓██▒░─░─░─░─░░░█▒███─
───────█▒──▒▒──────▓██████▓─░░░░─▒██▓░──
───────▓█──────────░██▓▓▓██▒─░──░█▒─────
────────██▒─────░───░██▓▓▓██▓▒▒▓█▒──────
─────────░████▒──░───▒█▓▓▓▓▓████▓───────
────────▒▓██▓██▒──░───▓█████▓███────────
──────▒██▓░░░░▓█▓░────░█▒█▒─▒▓█▓────────
─────▓█▒░░▒▒▒▒▒▓███▓░──▓█▒─▒▓▓█─────────
────░█▒░▒████▓██▓▓▓██▒───░▓█▓█░─────────
────▓█▒▒█░─▒───▓█▓▓▓▓▓▓▒▒▓█▓█▓──────────
────▓█▒█░───────██▓▓▓▓▓█▓▓█▓██──────────
────▒█▓▓────────░██▓██▓▓▓▓▓▓▓▓█─────────
─────██░────▓▓────█░─█▓▓▓▓▓▓▓─▒█████────
─────██░───░──────▓░─▓▓▓▓▓▓▓█─▒█▒░▒██───
────▓█░▓░──▓▓────▒█░─█▓▓▓▓▓▓▓█▒─░░░▒██──
────█─▒██─░──────████▓▓▓▓▓▓▓█▓─░▒▒█▓▓█░─
───▓█─▓▒▓▒░░────▓█▓▓▓▓▓▓▓▓▓▓█░░▒▓█░──▒█─
───▒█░█▒▒█▒───░▓█▓▓▓▓▓▓▓▓▓▓█▓░▒▓▓──▓█▓█─
───█▓▒▓▒▒▓██████▓▓▓▓▓▓▓▓▓▓▓█▒▒▓▓─░█▓▒▒█░
───█░▓▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▒▒▓─▒█▒▒▒▒█─
──▒█─█▒▒▒▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▓─▒█▒▒▒▒██─
──▓█─█▒▒▒▒█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▒▓▒░█▒▒▒░▓█──
──▓█─█▒▓▒▒▓█▓▓▓▓▓▓▓▓▓▓▓▓▓█▓▒▓░▓░░░░▒█░──
──▒█─▓▓▓▓▒▓█▓▓▓▓▓▓▓▓█████▓▓▓▓▒▓░░─▒█▒───
───█▒▓▓▓▓▓▒▓██████████░░██▓█─▒█▓▒▓█░────
───▓█▒█▓▓▓▓▒▓██░─░▒░─────██▒░▓▓▓▒██─────
────████▓▓▓██░───────────▓█░▓▒░░▓█░─────
──────░█████░─────────────██▓─▒██░──────
───────────────────────────▓███▒────────</h5>

<p><%= number_to_phone "801-get-your-own-number" %></p>

<p><%= number_to_currency "@#I'm broke" %></p>

<p><%= number_with_delimiter "801-420-69O8" %></p>