<div class="inner cover">
  <h2 class="cover-heading"></h2>
  <p class="lead">Hello, My name is Cortland Willey. My favorite color is silver and you are going to love me.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>